## @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass
##

## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.storageClass Global StorageClass for Persistent Volume(s)
##
global:
  storageClass: "topolvm-ssd"

podLabels:
  postgresql-client: "true"

## @section Security settings
##
## @param adminToken The admin token used for /admin
##
adminToken: "JX9DEDvQI8WGvNUvC7087wNl8aa64bCs"
## @param signupsAllowed By default, anyone who can access your instance can register for a new account.
## To disable this, set this parameter to false. Even when signupsAllowed=false, an existing user who is
## an organization owner or admin can still invite new users. If you want to disable this as well, set
## invitationsAllowed to false. The vaultwarden admin can invite anyone via the admin page, regardless
## of any of the restrictions above
##
## If signupDomains is set, then the value of signupsAllowed is ignored
signupsAllowed: true
## @param invitationsAllowed Even when registration is disabled, organization administrators or owners can
## invite users to join organization. After they are invited, they can register with the invited email even
## if signupsAllowed is actually set to false. You can disable this functionality completely by setting
## invitationsAllowed env variable to false
invitationsAllowed: true
## @param signupDomains List of domain names for users allowed to register
##
signupDomains: "example.com"
## @param signupsVerify Whether to require account verification for newly-registered users.
##
signupsVerify: "true"
## @param showPassHint Whether a password hint should be shown in the page.
##
showPassHint: "false"

resources:
  limits:
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 256Mi

## Enable persistence using Persistent Volume Claims
## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  ## @param persistence.enabled Enable persistence
  ##
  enabled: true
  ## @param persistence.size Size for the PV
  ##
  size: 10Gi
service:
  ipFamilyPolicy: "SingleStack"
  ipFamilies: ["IPv4"]

## vaultwarden ingress parameters
## ref: https://kubernetes.io/docs/user-guide/ingress/
##
ingress:
  ## @param ingress.enabled Enable ingress record generation for vaultwarden
  ##
  enabled: true
  ingressControllerType: "traefik"
  ingressClassName: "traefik"
  hostname: vaultwarden-test.doca.cloud
  tls: false
  annotations:
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: traefik-security-headers@kubernetescrd,traefik-redirects-to-https@kubernetescrd,traefik-geoip-allowlist@kubernetescrd

## @section Database Configuration
##
database:
  ## @param database.type Database type, either default or postgresql
  ## Default is a sqlite database.
  ##
  type: "postgresql"

## @section SMTP Configuration
##
smtp:
  ## @param smtp.host SMTP host
  ##
  host: "smtp.tem.scw.cloud"
  ## @param smtp.security SMTP Encryption method
  ## Possible values:
  ##  - starttls: explicit TLS using ports 587 or 25
  ##  - force_tls: implicit TLS using port 465
  ##  - off: no encryption, using port 25, unless using STARTTLS
  ##
  security: "force_tls"
  ## @param smtp.port SMTP port
  ##
  port: 465
  ## @param smtp.from SMTP sender email address
  ## Example: juan.delacruz@gmail.com
  ##
  from: "vaultwarden@doca.cloud"
  ## @param smtp.username Username for the SMTP authentication.
  ## Example: juan
  ##
  username: "12eea2da-504b-407a-96c1-e0c105778537"
  ## @param smtp.password Password for the SMTP service.
  ##
  password: "7a77d2df-546e-420a-bb26-207a021a3c68"
  ## @param smtp.authMechanism SMTP authentication mechanism
  ## Possible values: "Plain", "Login", "Xoauth2"
  ## Multiple options need to be separated by a comma. (not tested)
  ##
  authMechanism: "Plain"
  ## @param smtp.acceptInvalidHostnames Accept Invalid Hostnames
  ##
  acceptInvalidHostnames: "false"
  ## @param smtp.acceptInvalidCerts Accept Invalid Certificates
  ##
  acceptInvalidCerts: "false"
  ## @param smtp.debug SMTP debugging
  ##
  debug: true

## @section Global TLS settings for internal CA
##
tls:
  ## @param tls.enabled Enable internal TLS between Ingress controller and unifi
  enabled: true
  ## @param tls.autoGenerated Create cert-manager signed TLS certificates.
  ##
  autoGenerated: false

  ## @param tls.existingSecret Existing secret containing the certificates for Unifi
  ##
  existingSecret: ""
  ## Base subject details for certificate generation, node_dn filtering, admin_dn 
  ##
  subject:
    ## @param tls.subject.organizations Subject's organization
    ##
    organizations: "vaultwarden"
    ## @param tls.subject.countries Subject's country
    ##
    countries: "fr"
  issuerRef:
    ## @param tls.issuerRef.existingIssuerName Existing name of the cert-manager http issuer. If provided, it won't create a default one.
    ##
    existingIssuerName: "svc-cluster-local"
    ## @param tls.issuerRef.kind Kind of the cert-manager issuer resource (defaults to "Issuer")
    ##
    kind: "ClusterIssuer"
    ## @param tls.issuerRef.group Group of the cert-manager issuer resource (defaults to "cert-manager.io")
    ##
    group: "cert-manager.io"

cnpCluster:
  enabled: true
  instances: 1
  storage:
    size: 10Gi
    storageClass: "topolvm-ssd"
    pvcTemplate: {}
  database:
    name: vaultwarden
    username: vaultwarden
    existingSecret: ""
  resources: {}
  affinity: {}
  tolerations: {}
  nodeSelector: {}
  monitoring:
    enabled: true
  backup:
    enabled: false
    barmanObjectName: ""
  superuserSecret: ""
  tls:
    enabled: true